---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';
import Hero from '~/components/widgets/Hero.astro';
import { headerData } from '~/data';

const meta = {
  title: "About",
};
---

<Layout {meta}>
  <Fragment slot="header">
    <Header
      {...headerData}
      showRssFeed
      showToggleTheme
      position="left"
    />
  </Fragment>

  <!-- Hero2 Widget ******************* -->

  <Hero
    test...
  >
    <Fragment slot="title">
      kokitree <span class="hidden lg:inline">helps most people to launch their blog with choices...
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">Everything</span> you need to know about creating and maintaining a successful blog.</span
      >
      <span class="block mb-1 sm:hidden font-bold text-blue-600">Production-ready.</span> Suitable for Startups,
      Small Business, Professional Portfolios, Marketing Websites, Landing Pages & Blogs.
    </Fragment>


  </Hero>


</Layout>
