---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import LatestPosts from '~/components/blog/LatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <!-- Hero Widget ******************* -->

  <Hero
    callToAction2={{ text: 'Learn more', href: '#features' }}
    image={{ src: import('~/assets/images/hero.png'), alt: 'AstroWind Hero Image' }}
  >
    <Fragment slot="title">
      Launch & grow your blog </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">Do you want</span> to create a blog or start a website?</span>
    </Fragment>
  </Hero>

  <!-- Features Widget *************** -->

  <LatestPosts
    title="Find out more content in our Blog"
    information={`We offer comprehensive reviews of the best web hosting providers, web builders, and other blogging tools. We also have a wealth of tutorials and guides on 
                `}
    postIds={[
      'get-started-website-with-astro-tailwind-css.md',
      'how-to-customize-astrowind-to-your-brand.md',
      'useful-resources-to-create-websites.md',
      'astrowind-template-in-depth.md',
    ]}
  />  
  
  <Features
    highlight="Start here and now!"
    title="What you get with kokitree"
    subtitle="Everything you need to know about creating and maintaining a successful blog."
    items={[
      [
        {
          title: 'What do you want to blog about?',
          description:
            'What are you passionate about?',
          icon: 'tabler:brand-tailwind',
        },
        {
          title: 'Name your domain',
          description:
            'You want people to be able to remember your domain name so they can come back to your blog.',
          icon: 'tabler:components',
        },
        {
          title: 'Choose a blogging platform',
          description:
            'Each platform has its own strengths and weaknesses, so it is important to choose one that is right for you.',
          icon: 'tabler:list-check',
        },
      ],
      [
        {
          title: 'Choose your hosting and theme',
          description:
            'When choosing a hosting provider and theme, it is important to consider your needs and budget.',
          icon: 'tabler:rocket',
        },
        {
          title: 'Plan and write content',
          description:
            'Your content should be well-written, informative, and engaging. You should also make sure to publish new content on a regular basis.',
          icon: 'tabler:arrows-right-left',
        },
        {
          title: 'Promote your blog',
          description:
            'Once you have created some great content, you need to let people know about it.',
          icon: 'tabler:bulb',
        },
      ],
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    highlight="Delve depper"
    title="With our in-depth reviews and how-tos ..."
    items={[
      {
        title: 'Blog hosting',
        description:
          'Blog hosting providers offer a variety of features and services, so it’s important to choose one that meets your needs.',
      },
      {
        title: 'Blog builders',
        description:
          'all the tools and resources you need to create a beautiful and professional-looking blog, even if you’re a beginner.',
      },
      {
        title: 'Blog audience growth',
        description:
          'Just keep writing great content, promoting your blog, and interacting with your readers, and you will eventually start to see results.',
      },
    ]}
    image={{
      src: import('~/assets/images/caos.jpg'),
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Looking for the best way to start a blog or website?</h3>
      We’ve got you covered!
    </Fragment>
  </Content>


</Layout>
